.layout-wrapper {
    .layout-topbar {
        height: 64px;
        background-color: $topbarBgColor;
        border-bottom: 2px dotted $topbarBorderColor;
        padding: 16px;
        position: fixed;
        width: 100%;
        z-index: 999997;
        left: 0;
        top: 0;
        box-sizing: border-box;

        .menu-btn {
            display: inline-block;
            vertical-align: middle;

            i {
                font-size: $fontSize+8px;
            }
        }


        .logo {
            margin-left: 20px;
            display: inline-block;
            vertical-align: middle;
        }

        .topbar-button {
            border-radius: 20px;
            border: 2px dotted $topbarButtonBorderColor;
            background: $topbarButtonBgColor;
            font-size: $fontSize - 2px;
            color: $topbarButtonTextColor;
            letter-spacing: 0.2px;
            height: 2em;
            min-width: 2em;
            float: right;
            display: block;

            .ui-button-icon-right {
                width: 1em;
                height: 1em;
            }
        }
    }
}
