/* COMMON */
$textColor:#1b1b1b;
$textSecondaryColor:#888888;
$fontSize:16px;

/* TOPBAR */
$topbarBgColor:#f4f4f4;
$topbarBorderColor:#888888;
$topbarButtonBgColor:#f4f4f4;
$topbarButtonBorderColor:#888888;
$topbarButtonTextColor:#888888;
$topbarButtonHoverBgColor:#eaeaea;
$topbarButtonHoverTextColor:#333333;

/* SIDEBAR */
$menuBgColor:#f4f4f4;
$menuBorderColor:#888888;
$menuItemActiveColor:#000000;

/* MASK */
$layoutMaskBgColor:#424242;

/* FOOTER */
$footerBgColor:#f4f4f4;
$footerBorderColor:#888888;
